.slds-card {
    border-style: none;
}

.xc-grey-header {
    background-color: #c0bcb4;
    text-align: center;
}

.xc-grey-header h1 {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

ol {
    list-style: decimal inside none;
}

ul {
    list-style: disc inside;
}

lightning-card {
    font-size: 1.4em;
}

.xc-red {
    color: red;
}

.slds-select {
    font-size: 16px;
}

.show-inline {
    display: inline;
}

.hide {
    display: none;
}

.totalsumma {
    font-size: 1.6em;
    font-weight: bold;
}

.main-card {
    padding: 32px;
    line-height: 1.3;
}

@media only screen and (max-width: 600px) {
    .main-card {
        padding: 8px;
    }
}

.small-text {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.2;
}

.bold-text {
    font-weight: bold;
}

.child-count {
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    background-color: rgb(243, 243, 243);
    padding: 5px 25px;
    border: 1px solid #d8dde6;
    border-radius: 4px;
}

.child-count-prefix {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.1;
    color: #333333;
    margin-left: 30px;
    margin-right: 5px;
}

.small-cell {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
}

.small-cell-bottom {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: bottom;
}

.small-cell-icon {
    padding-top: 1em;
    padding-bottom: 0;
}

.my-readonly {
    font-size: 1em;
    font-weight: 750;
    background-color: rgb(243, 243, 243);
    padding: 2px 12px;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    min-height: 30px;
}

.my-readonly-normal {
    font-size: 0.85em;
    font-weight: normal;
    background-color: rgb(243, 243, 243);
    padding: 2px 12px;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    min-height: 30px;
}

.no-category-selection {
    border-color: red !important; /* The color can be adjusted as per the requirements */
    border-width: initial !important;
}

.red-help {
    color: var(--lwc-colorTextError, rgb(234, 0, 30));
}

.responsive-layout {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .readonly-input {
        flex: 0 0 100%; /* Full width on small devices */
    }

    .small-cell, .small-cell-icon {
        display: block;
        width: 100%; /* Force inputs to take full width on small devices */
        padding: 0.5rem 0; /* Optional: Add spacing for readability */
    }

    .my-readonly-normal {
        word-wrap: break-word; /* Ensure long text breaks correctly */
    }

    /* Ensure that the table cells stack vertically */
    .slds-table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .slds-table tr {
        display: block;
        width: 100%;
    }

    .slds-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
